body {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #222;
}

hr {
  border: 1px solid white !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.search_listing_btn,
.search_btn {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}

/* NAVIGATION BAR */

.navbar {
  padding-top: 0 !important;
}

.nav_bar_img {
  width: 100%;
  background-size: contain;
}

.container-fluid {
  position: absolute;
}

.header_img {
  background: url("images/header_img.jpg") center/cover no-repeat fixed;
  height: 100vh;
  width: 100%;
}

.header_img > * {
  position: relative;
  color: white;
}

.hero-btn {
  background: #ffd600;
  background: linear-gradient(180deg, #fff200 0%, #ffd600 100%);
  color: #222;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hero-btn:hover {
  color: white;
  background: #f4cb00;
  transition: transform 0.3s ease;
}

.website_content {
  padding: 100px;
  background: #161616;
  color: white;
}

.get_it_sold {
  padding: 100px;
}

.font {
  padding-top: 60px;
}

.responsive-text {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .responsive-name {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .responsive-name {
    font-size: 3rem;
  }
}

/* FIND YOUR DREAM HOME */

.find_your_dream_home {
  background: url("images/house_picture_4.png") center/cover no-repeat;
  height: 100vh;
  width: 100%;
}

.find_your_dream_home > * {
  position: relative;
  color: white;
  text-align: center;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 20px;
  top: 25%;
  width: 50%;
  left: 25%;
}

.logo {
  padding: 100px;
}

.logo img {
  width: 100px !important;
}

.search_listing_btn {
  color: black;
  background-color: transparent !important;
  border: 1px solid white !important;
  margin: 10px;
}

.search_btn {
  background: white;
  color: #222;
  border: none;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 600;
  border-radius: 50px;
  letter-spacing: 1px;
  transition: 0.4s ease-in-out;
  width: 150px;
  height: 40px;
}

.search_btn:hover {
  background-color: black;
  color: white;
}

/* CAROUSEL */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  padding: 25px;
  border-radius: 50%;
  background-size: 60%;
}

.our_service_section {
  padding: 100px;
}

.icons {
  padding: 50px;
  background-color: #161616 !important;
}

.icons img {
  width: 50px !important;
}

/* CALL OR VISIT  */

.call_or_visit {
  background: #f8f8f8;
  padding: 60px 20px;
}

.call_or_visit_font {
  text-align: center;
  font-weight: 700;
  padding: 30px;
  margin: 0 !important;
  color: peachpuff !important;
  background: #f8f8f8;
}

.form-box {
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-box input,
.form-box textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #c9c9c9;
  outline: none;
  font-size: 1rem;
}

.form-box input:focus,
.form-box textarea:focus {
  border-color: peachpuff;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.968);
}

.form-box textarea {
  height: 120px;
  resize: none;
}

.send-btn {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
  background: #007bff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background: #005ec2;
}

@media (max-width: 991px) {
  #map {
    height: 360px !important;
  }
  .card {
    min-height: auto;
  }
}

.map-container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.go_daddy_airo {
  width: 100px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box input,
.form-box textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* POP-UP */

.form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box input,
.form-box textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-btn {
  background: #0d6efd;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup {
  display: none; /* hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* FOOTER */

.footer {
  background-color: black;
  padding: 50px;
}

.footer_icon {
  width: 35px !important;
}

.footer_paragraph {
  color: white !important;
  font-weight: lighter !important;
}
