body {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6,
.search_listing_btn,
.search_btn {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}

.navbar {
  padding-top: 0 !important;
}

.nav_bar_img {
  width: 100%;
  background-size: contain;
}

.container-fluid {
  position: absolute;
}

.header_img {
  background: url("images/header_img.jpg") center/cover no-repeat fixed;
  height: 100vh;
  width: 100%;
}

.header_img > * {
  position: relative;
  color: white;
}

.hero-btn {
  background: #ffd600;
  background: linear-gradient(180deg, #fff200 0%, #ffd600 100%);
  color: #222;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hero-btn:hover {
  color: white;
  background: #f4cb00;
  transition: transform 0.3s ease;
}

.website_content {
  padding: 100px;
  background: #161616;
  color: white;
}

.get_it_sold {
  padding: 100px;
}

.font {
  padding-top: 60px;
}

.find_your_dream_home {
  background: url("images/house_picture_4.png") center/cover no-repeat;
  height: 100vh;
  width: 100%;
}

.find_your_dream_home > * {
  position: relative;
  color: white;
  text-align: center;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 20px;
  top: 25%;
  width: 50%;
  left: 25%;
}

.logo {
  padding: 100px;
}

.logo img {
  width: 100px !important;
}

.search_listing_btn {
  color: black;
  background-color: transparent !important;
  border: 1px solid white !important;
  margin: 10px;
}

.search_btn {
  background: white;
  color: #222;
  border: none;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: 600;
  border-radius: 50px;
  letter-spacing: 1px;
  transition: 0.4s ease-in-out;
  width: 150px;
  height: 40px;
}

.search_btn:hover {
  background-color: black;
  color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  padding: 25px;
  border-radius: 50%;
  background-size: 60%;
}

.our_service_section {
  padding: 100px;
}

.icons {
  padding: 50px;
  background-color: #161616 !important;
}

.icons img {
  width: 80px !important;
}
